<div class="dashboard-container">
    <p-toast></p-toast>
    <div class="input-section">
        <h1 style="text-align: center; margin-bottom: 2rem; color: var(--text-color);">Shorten a new URL</h1>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Paste long URL here" [(ngModel)]="fullUrl" />
            <button type="button" pButton label="Shorten" icon="pi pi-link" (click)="addUrl()"></button>
        </div>
    </div>

    <div class="list-section" *ngIf="links.length > 0">
        <h2 style="color: var(--text-color);">Your Links</h2>
        <p-table [value]="links" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Original URL</th>
                    <th>Short URL</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-link>
                <tr>
                    <td style="word-break: break-all;">{{ link.fullUrl }}</td>
                    <td>
                        <a [href]="'http://localhost:8080/' + link.shortUrl" target="_blank">{{ link.shortUrl }}</a>
                    </td>
                    <td>
                        <button pButton icon="pi pi-copy" class="p-button-rounded p-button-text"
                            (click)="copyToClipboard(link.shortUrl)" pTooltip="Copy"></button>
                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                            (click)="deleteUrl(link.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="links.length === 0 && !loading" style="text-align: center; margin-top: 2rem; color: var(--text-color);">
        <p>No links created yet. Start shortening!</p>
    </div>
</div>