<footer [ngStyle]="{
  backgroundColor : 'var(--surface-900)'
}">
  <div class="footer-container">
    <div class="my-info" >
      <h2>Developed by M. Oly Mahmud</h2>
      <p>B.Sc.(Engineering), Information & Communication Engineering </p>
      <p>Pabna University of Science and Technology</p>
    </div>

    <div class="my-links">
      <h2>Connect with me:</h2>
      <p>
        <a target="_blank" href="https://olymahmud.netlify.app/">Website</a>
        <a target="_blank" href="https://www.linkedin.com/in/m-oly-mahmud-mugdho/">Linked-In</a>
        <a target="_blank" href="https://github.com/OlyMahmudMugdho">Github</a>
        <a target="_blank" href="https://twitter.com/OlyMahmudMugdho">Twitter</a>
        <a target="_blank" href="https://www.facebook.com/Oly.Mahmud38/">Facebook</a>
      </p>
    </div>
  </div>
</footer>
