<div class="home-container">
  <div class="home-box home-text-section">
    <article class="home-article">
      <h1 [ngStyle]="{color:'var(--text-color)'}">
        Shorten the boring large links
      </h1>
      <p [ngStyle]="{color:'var(--text-color)'}">
        <b>Short-NR</b> is a URL Shortener app that reduces the length of links. Long URLs can be shared using
        customized short links. Links creation,management and sharing.
      </p>
      <div class="get-started">
        <p-button label="Get Started" iconPos="right" icon="pi pi-angle-double-right" [routerLink]="['/dashboard']" />
      </div>
    </article>
  </div>

  <div class="home-box home-image-section">
    <p-image class="home-image" src="www-concept-illustration.png" alt="Image" width="350" />
  </div>

</div>