<section class="login-section">
  <h1 [ngStyle]="{color : 'var(--text-color)'}">Log-in to your account</h1>
  <form class="login-form" (ngSubmit)="handleSubmit()">

    <label for="username" [ngStyle]="{color : 'var(--text-color)'}">Username</label>
    <div class="input-field-container">
      <p-iconField iconPosition="left">
        <p-inputIcon class="input-icon" styleClass="pi pi-user" />
        <input [(ngModel)]="username" name="username" id="username" type="text" pInputText placeholder="Username"
          style="width: 100%" />
      </p-iconField>
    </div>


    <label for="password" [ngStyle]="{color : 'var(--text-color)'}">Password</label>
    <div class="input-field-container">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-lock" />
        <input [(ngModel)]="password" name="password" id="password" type="password" pInputText placeholder="Password"
          style="width: 100%" />
      </p-iconField>
    </div>

    <button pButton pRipple label="Log-in" class="p-button-info">
    </button>

  </form>
  <p [ngStyle]="{color : 'var(--text-color)'}">Don't have an account?</p>
  <button routerLink="/signup" pButton pRipple label="Sign-up" class="p-button-info">
  </button>
</section>