<section class="login-section">
  <h1 [ngStyle]="{color : 'var(--text-color)'}">Log-in to your account</h1>
  <form class="login-form" (ngSubmit)="handleSubmit()">

    <label for="username" [ngStyle]="{color : 'var(--text-color)'}" >Username</label>
    <p-iconField class="input-field-container" iconPosition="left">
      <p-inputIcon class="input-icon" styleClass="pi pi-user" />
      <input [(ngModel)]="username" name="username" id="username" type="text" pInputText placeholder="username" />
    </p-iconField>


    <label for="password"  [ngStyle]="{color : 'var(--text-color)'}">Password</label>
    <p-iconField class="input-field-container"  iconPosition="left">
      <p-inputIcon styleClass="pi pi-lock" />
      <input [(ngModel)]="password"  name="password" id="password" type="password" pInputText placeholder="Search" />
    </p-iconField>

    <button
      pButton
      pRipple
      label="Log-in"
      class="p-button-info">
    </button>

  </form>
  <p [ngStyle]="{color : 'var(--text-color)'}">Don't have an account?</p>
  <button
    routerLink="/signup"
    pButton
    pRipple
    label="Sign-up"
    class="p-button-info">
  </button>
</section>
